# setuptools distribution folder
/keyoscacquire/dist/
/keyoscacquire/build/

# python egg metadata
/keyoscacquire/*.egg
/keyoscacquire/*.egg-info

# files generated when running the module and others
__pycache__
*.csv
*.png
*.pdf
*.nb
*.xlsx
*.txt
Thumbs.db
