# setuptools distribution folder
dist/
build/

# docs build
docs/_*

# python egg metadata
*.egg
*.egg-info

# files generated when running the module and others
__pycache__
*.csv
*.npy
*.png
Thumbs.db
.DS_Store
